
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Orders</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">

              <thead>
		  <tr>
			<th scope="col">Id</th>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Price</th>
      <th scope="col">Volume</th>
      <th scope="col">Status code</th>
      <th scope="col">Buy/Sell</th>
			<th scope="col" style = "text-align : center">Action</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let trading of Tradings">
			<td>{{trading.id}}</td>
			<td>{{trading.stockTicker}}</td>
			<td>{{trading.price}}</td>
      <td>{{trading.volume}}</td>
      <td>{{trading.statusCode}}</td>
      <td>{{trading.buyOrSell}}</td>
      <!--td *ngIf="trading.buyOrSell=== '1'";>sell</td>
      <td *ngIf="trading.buyOrSell=== '0'";>sell</td>-->

     <!-- <div *ngIf="trading.buyOrSell=== '1'; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Sell</ng-template>
<ng-template #elseBlock>Buy</ng-template>-->

			<td>
			  <a  data-toggle="modal" data-target="#editModal"(click)="trNew=trading" class="btn btn-primary btn-sm mr-5 float-right btn-space" >Edit</a>
<!-- Modal -->
<div class="modal fade" id='editModal' tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <form>
        
         <div class="form-group">
          <label style="color:black;" >Volume</label>
          <input style="color: black;" type="text" [(ngModel)]="trading.volume" class="form-control"  placeholder="volume">
        </div> 
        
        <button class="btn btn-success btn-lg btn-block" (click)="updateTradings(trNew.id,trNew,trading.volume)">Save</button>
      </form>
      </div>
      
    </div>
  </div>
</div>

	

			  <a [routerLink]="" (click)="deleteTrading(trading.id)" class="btn btn-danger btn-sm mr-5 float-right btn-space">Delete</a>
			</td>
		  </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
