<!-- Modal -->
<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <form>
        
         <div class="form-group">
          <label >Volume</label>
          <input style="color: black;" type="text" [(ngModel)]="trading.volume" class="form-control"  placeholder="volume">
        </div> 
        
        <button class="btn btn-success btn-lg btn-block" (click)="updateTradings(trading.id,trading)">Save</button>
      </form>
      </div>
      
    </div>
  </div>
</div>