
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Stocks</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">

              <thead>
		  <tr>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Current</th>

			<th scope="col" style = "text-align : center">Action</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let data of LiveTable">
			<td>{{data.stockTicker}}</td>
			<td>{{data.open}}</td>
            <td>{{data.high}}</td>
            <td>{{data.low}}</td>
            <td>{{data.current}}</td>
			<td>
			  <a  data-toggle="modal" data-target="#sellModal" (click)="tempData=data" class="btn btn-primary btn-sm mr-5 float-right btn-space" >Sell</a>
<!-- Modal -->
<div class="modal" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <form>
        <div class="form-group">
          <label style="color:black;">Stock Ticker</label>
          <div style="color: black;"  id="ticker" class="form-control">{{tempData.stockTicker}}
          </div>
          
        </div> 
         <div class="form-group">
          <label style="color:black;">Price</label>
          <div style="color: black;" id="price" class="form-control">{{tempData.current}}
          </div>          
        </div> 
        <div class="form-group">
          <label style="color:black;" >Volume</label>
          <input style="color: black;" type="text" [(ngModel)]="inputData.volume" class="form-control"  placeholder="volume">
        </div> 
        <button class="btn btn-success btn-lg btn-block" (click)="addTrading(tempData.current,tempData.stockTicker,'sell')">Save</button>
      </form>
      </div>
      
    </div>
  </div>
</div>

			  <a data-toggle="modal" data-target="#addModal" (click)="tempData=data" class="btn btn-danger btn-sm mr-5 float-right btn-space">Buy</a>

        <!-- Modal -->
<div class="modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <form>
        <div class="form-group">
          <label style="color:black;">Stock Ticker</label>
          <div style="color: black;"  id="ticker" class="form-control">{{tempData.stockTicker}}
          </div>
          
        </div> 
         <div class="form-group">
          <label style="color:black;">Price</label>
          <div style="color: black;" id="price" class="form-control">{{tempData.current}}
          </div>          
        </div> 
        <div class="form-group">
          <label style="color:black;" >Volume</label>
          <input style="color: black;" type="text" [(ngModel)]="inputData.volume" class="form-control"  placeholder="volume">
        </div> 
        <button class="btn btn-success btn-lg btn-block" (click)="addTrading(tempData.current,tempData.stockTicker,'buy')">Save</button>
      </form>
      </div>
      
    </div>
  </div>
</div>
			</td>
		  </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
