
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Portfolio</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">

              <thead>
		  <tr>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Price</th>
      <th scope="col">Volume</th>
      <th scope="col">Percent change</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let trading of PortfolioTradings">
      <td *ngIf="trading.statusCode==1">{{trading.stockTicker}}</td>
			<td *ngIf="trading.statusCode==1">{{trading.price}}</td>
      <td *ngIf="trading.statusCode==1">{{trading.volume}}</td>
      <td *ngIf="trading.statusCode==1">{{percentChange(trading.price)}}</td>
		  </tr>

      </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
